

nav {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
}

nav a:hover, nav a:active {
  color: tomato;
}

#produceCard {
  padding: 40px;
  text-align: center;
}
#produceCard img{
  width: 250px;
  height: 250px;
  border-radius: 100px;
}

#rendPro{
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
}
#app h1 {
  text-align: center;
}
#search {
  padding: 20px;
  margin: auto;
  text-align: center;
}
#search > * {
  margin: 5px;
  font-size: 20px;
}
#shop h2{
  text-align: center;
}

#produceDisplayPage {
  text-align: center;
}
#produceDisplayPage > * {
  margin: 25px;
}

#produceDisplayPage p{
  width: 60%;
  margin: auto;
}

#produceDisplayPage input{
  width: 20px;
}
#produceDisplayPage img {
  width: 400px;
  height: 400px;
}
#cart{
  text-align: center;
  padding: 40px;
}

thead, .total{
  background-color: navy;
  color: white;
}

table{
  margin: 20px auto;
}

#suggest {
  display: grid;
  text-align: center;
}

#suggest > * {
  margin: 40px;
}
#suggest img {
  width: 400px;
  height: 400px;
}
#suggest p{
  width: 60%;
  margin: 40px auto;
}
#SuggestionCard {
  padding: 40px;
}
#suggestionContainer{
  display: grid;
  grid-template-columns: auto auto;
}
#suggestionForm {
  display: flex;
  flex-direction: column;
}
#suggestionForm input {
  width:60%;
  margin: 10px auto;
}

#suggestionForm button {
  width: 60px;
  margin: auto;
}
#confirmation, #wrapUp {
  text-align: center;
}
#confirmation > *, #wrapUp > * {
  margin: 10px;
}
#addProduceForm {
  display: flex;
  flex-direction: column;
  padding: 50px;

}
#addProduceForm > * {
  width: 40%;
  margin: 20px auto;
}

#addProduceForm button {
  width: 60px;
}